// Extra rules needed for the Studio dark theme
//
// Note: the dark theme doesn't provide any additional rules.
//
// The _extras.scss file is imported after all other rules by
// the Studio Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

$ufmtonline-bg: #1e1e1e;

.wrapper-header {
  background: $ufmtonline-bg;

}

 .wrapper-l,
  .wrapper-r {
    background: $ufmtonline-bg!important;
  }


.info-course {
    .course-org,
    .course-title,
    .course-number {
        color: $white !important;
    }
}
