.footer-bs-wrapper {
    @media all {
        #footer {
            background-color: #1e1e1e;
            border-top: 4px solid #070707;
        }
        #footer {
            background: #0e0e0e;
            border-top: 4px solid #0e0e0e;
            font-size: 0.9em;
            margin-top: 50px;
            padding: 70px 0 0;
            position: relative;
            clear: both;
        }
        #footer .container .row > div {
            margin-bottom: 25px;
        }
        #footer .footer-copyright {
            background: #060606;
            border-top: 4px solid #060606;
            margin-top: 40px;
            padding: 30px 0 10px;
        }
        #footer h4 {
            font-size: 1.8em;
            font-weight: 200;
        }
        #footer h4,
        #footer a {
            color: #fff;
        }
        #footer .contact {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .social-icons {
            margin: 0;
            padding: 0;
            width: auto;
        }
        .social-icons li {
            display: inline-block;
            margin: -1px 1px 5px 0;
            padding: 0;
            border-radius: 100%;
            overflow: visible;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        }
        .social-icons li a {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            transition: all 0.2s ease;
            background: #fff;
            border-radius: 100%;
            display: block;
            height: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: #333 !important;
            text-decoration: none;
        }
        #footer .container > div {
            display: flex !important;
            table-layout: fixed !important;
            width: 100% !important;
            border: none !important;
            background: none !important;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        }
        #footer p {
            color: #ffff;
        }
        @media print {
            *,
            *::before,
            *::after {
                text-shadow: none !important;
                box-shadow: none !important;
            }
            a,
            a:visited {
                text-decoration: underline;
            }
            img {
                page-break-inside: avoid;
            }
            p {
                orphans: 3;
                widows: 3;
            }
        }
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        footer {
            display: block;
        }
        h4 {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        ul {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        strong {
            font-weight: bolder;
        }
        a {
            color: #0075b4;
            text-decoration: none;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }
        a:hover {
            color: #004368;
            text-decoration: underline;
        }
        img {
            vertical-align: middle;
            border-style: none;
        }
        a {
            touch-action: manipulation;
        }
        h4 {
            margin-bottom: 0.5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
        }
        h4 {
            font-size: 1rem;
        }
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (min-width: 576px) {
            .container {
                max-width: 540px;
            }
        }
        @media (min-width: 768px) {
            .container {
                max-width: 720px;
            }
        }
        @media (min-width: 992px) {
            .container {
                max-width: 960px;
            }
        }
        @media (min-width: 1200px) {
            .container {
                max-width: 1920px;
            }
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .col-md-2,
        .col-md-4,
        .col-md-10 {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        @media (min-width: 768px) {
            .col-md-2 {
                flex: 0 0 16.66667%;
                max-width: 16.66667%;
            }
            .col-md-4 {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }
            .col-md-10 {
                flex: 0 0 83.33333%;
                max-width: 83.33333%;
            }
        }
    }
}
