
// UFMT Online Global Header Colors

.global-header {
    background: #1e1e1e!important;
}


.global-header .nav-links .main .nav-tab a {
    color: #ffff!important;
}

.global-header .header-logo .course-header {
  color: #ffff!important;
}

.global-header .nav-links .secondary .nav-item a {
    color: #ffff!important;
}

.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item a {
    color: #000!important;
}

.global-header .nav-links .secondary .nav-item.nav-item-dropdown {
    color: #ffff!important;
}

.global-header .nav-links .secondary a.register-btn {
    background-color: #ffffff00!important;
 }

.global-header .nav-links .secondary a.sign-in-btn:hover, .global-header .nav-links .secondary .nav-item a.shopping-cart:hover {
    background-color: #ffffff00!important;
}

.wrapper-footer{
  background: #1e1e1e!important;
}

.wrapper-footer footer .site-nav .nav-item .nav-link {
  color: #ffff!important;
}


.progress {
    height: 6rem!important;
}

body.view-in-course .wrapper-course-material .course-material .course-tabs {
    padding: 20px!important;
}

#footer {
    background-color: #1E1E1E;
    border-top: 4px solid #070707;
}
#footer {
    background: #0e0e0e;
    border-top: 4px solid #0e0e0e;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 70px 0 0;
    position: relative;
    clear: both;
}

#footer .container .row > div {
    margin-bottom: 25px;
}

 .view-login .container{
   background: none!important;
  }

#footer .footer-copyright {
    background: #060606;
    border-top: 4px solid #060606;
    margin-top: 40px;
    padding: 30px 0 10px;
}

#footer h4 {
    font-size: 1.8em;
    font-weight: 200;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer a {
    color: #FFF;
}
#footer .contact {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons {
    margin: 0;
    padding: 0;
    width: auto;
}

.social-icons li {
    display: inline-block;
    margin: -1px 1px 5px 0;
    padding: 0;
    border-radius: 100%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.social-icons li a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #FFF;
    border-radius: 100%;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #333 !important;
    text-decoration: none;
}


#footer .container > div {
    display: flex!important;
    table-layout: fixed!important;
    width: 100%!important;
    border: none!important;
    background: none!important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#footer p{
color:#ffff;
}

.course-info header.course-profile {
 padding-top: 0px !important;

}

@import 'edx-bootstrap/sass/open-edx/theme';

