// UFMT Online Global Header Colors
.view-register .container {
    width: 100% !important;
    background: none !important;
}
.view-login .container {
    width: 100% !important;
}
.global-header {
    background: #1e1e1e !important;
}

.global-header .nav-links .main .nav-tab a {
    color: #ffff !important;
}

.global-header .header-logo .course-header {
    color: #ffff !important;
}

.global-header .nav-links .secondary .nav-item a {
    color: #ffff !important;
}

.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item a {
    color: #000 !important;
}

.global-header .nav-links .secondary .nav-item.nav-item-dropdown {
    color: #ffff !important;
}

.global-header .nav-links .secondary a.register-btn {
    background-color: #ffffff00 !important;
}

.global-header .nav-links .secondary a.sign-in-btn:hover,
.global-header .nav-links .secondary .nav-item a.shopping-cart:hover {
    background-color: #ffffff00 !important;
}

.wrapper-footer {
    background: #1e1e1e !important;
}

.wrapper-footer footer .site-nav .nav-item .nav-link {
    color: #ffff !important;
}

.progress {
    height: 6rem !important;
}

body.view-in-course .wrapper-course-material .course-material .course-tabs {
    padding: 20px !important;
}

#footer {
    background-color: #1e1e1e;
    border-top: 4px solid #070707;
}
#footer {
    background: #0e0e0e;
    border-top: 4px solid #0e0e0e;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 70px 0 0;
    position: relative;
    clear: both;
}

#footer .container .row > div {
    margin-bottom: 25px;
}

.view-login .container {
    background: none !important;
}

#footer .footer-copyright {
    background: #060606;
    border-top: 4px solid #060606;
    margin-top: 40px;
    padding: 30px 0 10px;
}

#footer h4 {
    font-size: 1.8em;
    font-weight: 200;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer a {
    color: #fff;
}
#footer .contact {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons {
    margin: 0;
    padding: 0;
    width: auto;
}

.social-icons li {
    display: inline-block;
    margin: -1px 1px 5px 0;
    padding: 0;
    border-radius: 100%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.social-icons li a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #fff;
    border-radius: 100%;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #333 !important;
    text-decoration: none;
}

#footer .container > div {
    display: flex !important;
    table-layout: fixed !important;
    width: 100% !important;
    border: none !important;
    background: none !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#footer p {
    color: #ffff;
}

.course-info header.course-profile {
    padding-top: 0px !important;
}

section.page-header h1 {
    border-bottom-color: #4582bf;
}

section.page-header.custom-product {
    background-color: #3c75ae;
    border-top-color: #407dba;
}

.content-wrapper {
    padding: 0 !important;
    margin: 0 !important;
}

.teacher-container {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
}

.teacher {
    display: flex;
    flex-direction: column;
}

.teacher img {
    width: 180px;
    height: 180px;
    padding: 15px;
    align-self: center;

    border-radius: 50%;
}

.teacher h4 {
    text-align: center;
}

.teacher p {
    text-align: left;
    padding: 10px;
    align-self: center;
    vertical-align: middle;
    color: #777;
}

.teacher-photo-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .teacher {
        display: flex;
        flex-direction: row;
    }
}

.collapse:not(.show) {
    display: block !important;
}

.mobile-nav-item.hidden-mobile.nav-item.nav-tab > a {
    display: none !important;
}

.course-header span.provider,
span.course-number {
    display: none !important;
}

a.help-link {
    display: none !important;
}

@import "edx-bootstrap/sass/open-edx/theme";

.bootstrap-wrapper {
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }
    section {
        display: block;
    }
    h1 {
        margin: 0.67em 0;
        font-size: 2em;
    }
    @media print {
        *,
        :after,
        :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    :after,
    :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    h1 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 36px;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-md-6 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    @media (min-width: 992px) {
        .col-md-6 {
            float: left;
        }
        .col-md-6 {
            width: 50%;
        }
    }
    .col-md-4,
    .col-md-8 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    @media (min-width: 992px) {
        .col-md-4,
        .col-md-8 {
            float: left;
        }
        .col-md-8 {
            width: 66.66666667%;
        }
        .col-md-4 {
            width: 33.33333333%;
        }
    }
    .embed-responsive {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
    .embed-responsive iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .embed-responsive-16by9 {
        padding-bottom: 56.25%;
    }
    .container:after,
    .container:before,
    .row:after,
    .row:before {
        display: table;
        content: " ";
    }
    .container:after,
    .row:after {
        clear: both;
    }

    .page-header {
        background-color: #171717;
        border-bottom: 5px solid #ccc;
        border-top: 5px solid #384045;
        margin: 0 0 35px 0;
        min-height: 50px;
        padding: 20px 0;
        position: relative;
        text-align: left;
    }
    .page-header h1 {
        border-bottom: 5px solid #ccc;
        color: #fff;
        display: inline-block;
        font-size: 32px;
        font-weight: 200;
        line-height: 32px;
        margin: 0 0 -25px;
        padding: 0 0 25px;
        position: relative;
    }
    .page-header h1 span {
        color: #999da3;
        display: block;
        font-size: 0.6em;
        font-weight: 300;
        line-height: 1.3em;
        margin: 7px 0 0;
    }
    .page-header-color {
        background-color: #f7f7f7;
        border-bottom: 5px solid #f4f4f4;
        border-top: none;
    }
    .page-header-color h1 {
        border-bottom: none;
        color: #1d2127;
        font-size: 2.3em;
        padding: 0;
        margin: 0;
    }
    .page-header-color h1 span {
        opacity: 0.65;
    }
    .page-header-more-padding {
        padding: 35px 0;
    }
    @media (min-width: 992px) {
        .page-header-more-padding h1 {
            max-width: 70%;
        }
    }
    @media (max-width: 479px) {
        .page-header h1 {
            font-size: 26px;
            line-height: 26px;
        }
    }
    /*! CSS Used from: https://ufmtonline.ufmt.br/home/css/theme-elements.css */
    h1 {
        color: #1d2127;
        font-weight: 200;
        letter-spacing: -1px;
        margin: 0;
    }
    h1 {
        font-size: 2.6em;
        line-height: 44px;
        margin: 0 0 32px 0;
    }
    /*! CSS Used from: https://ufmtonline.ufmt.br/home/css/default.css */
    section.page-header h1 {
        border-bottom-color: #0088cc;
    }
    html .page-header-color.page-header-primary {
        background-color: #0088cc;
        border-bottom-color: #0088cc;
        color: #ffffff;
    }
    html .page-header-color.page-header-primary h1 {
        color: #ffffff;
    }
    html .page-header-color.page-header-primary h1 span {
        color: #ffffff;
    }
    /*! CSS Used from: https://ufmtonline.ufmt.br/home/css/custom.css */
    section.page-header h1 {
        border-bottom-color: #4582bf;
    }
    html .page-header-color.page-header-primary {
        background-color: #4582bf;
        border-bottom-color: #4582bf;
        color: #fff;
    }
    html .page-header-color.page-header-primary h1 {
        color: #fff;
    }
    html .page-header-color.page-header-primary h1 span {
        color: #fff;
    }
    /*! CSS Used from: https://ufmtonline.ufmt.br/home/plugins/rs-plugin/css/layers.css */
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*! CSS Used from: https://ufmtonline.ufmt.br/home/css/theme.css */
    body a {
        outline: none !important;
    }
    li {
        line-height: 24px;
    }
    .mb-none {
        margin-bottom: 0 !important;
    }
    .p-lg {
        padding: 20px !important;
    }
    /*! CSS Used from: https://ufmtonline.ufmt.br/home/css/theme-elements.css */
    h1,
    h2 {
        color: #1d2127;
        font-weight: 200;
        letter-spacing: -1px;
        margin: 0;
    }
    h1 {
        font-size: 2.6em;
        line-height: 44px;
        margin: 0 0 32px 0;
    }
    h2 {
        font-size: 2.2em;
        font-weight: 300;
        line-height: 42px;
        margin: 0 0 32px 0;
    }
    @media (max-width: 479px) {
        h2 {
            line-height: 40px;
        }
    }
    p {
        color: #777;
        line-height: 24px;
        margin: 0 0 20px;
    }
    a,
    a:hover,
    a:focus {
        color: #ccc;
    }
    .list li {
        margin-bottom: 13px;
    }
    .list.list-icons {
        list-style: none;
        padding-left: 0;
        padding-right: 0;
    }
    .list.list-icons li {
        position: relative;
        padding-left: 25px;
    }
    .list.list-icons li > .fa:first-child {
        position: absolute;
        left: 0;
        top: 5px;
    }
    .list.list-icons.list-icons-style-2 li {
        padding-top: 5px;
        padding-left: 36px;
    }
    .list.list-icons.list-icons-style-2 li > .fa:first-child {
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 4px;
    }
    .toggle {
        margin: 10px 0 20px;
        position: relative;
        clear: both;
    }
    .toggle .toggle {
        margin: 10px 0 0;
    }
    .toggle > label {
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        background: #f4f4f4;
        border-left: 3px solid #ccc;
        border-radius: 5px;
        color: #ccc;
        display: block;
        font-size: 1.1em;
        min-height: 20px;
        padding: 12px 20px 12px 10px;
        position: relative;
        cursor: pointer;
        font-weight: 400;
    }
    .toggle > label:-moz-selection {
        background: none;
    }
    .toggle > label:selection {
        background: none;
    }
    .toggle > label:before {
        border: 6px solid transparent;
        border-left-color: inherit;
        content: "";
        margin-top: -6px;
        position: absolute;
        right: 4px;
        top: 50%;
    }
    .toggle > label:hover {
        background: #f5f5f5;
    }
    .toggle > label + p {
        color: #999;
        display: block;
        overflow: hidden;
        padding-left: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 25px;
    }
    hr {
        background-image: -webkit-linear-gradient(
            left,
            transparent,
            #dbdbdb,
            transparent
        );
        background-image: linear-gradient(
            to right,
            transparent,
            #dbdbdb,
            transparent
        );
        border: 0;
        height: 1px;
        margin: 22px 0;
    }
    hr.gradient-to-right {
        background-image: -webkit-linear-gradient(left, #dbdbdb, transparent);
        background-image: linear-gradient(to right, #dbdbdb, transparent);
    }
    hr.solid {
        background: #dbdbdb;
    }
    .featured-box {
        background: #f5f5f5;
        background: -webkit-linear-gradient(top, #fff 1%, #fcfcfc 98%) repeat
            scroll 0 0 transparent;
        background: linear-gradient(to bottom, #fff 1%, #fcfcfc 98%) repeat
            scroll 0 0 transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #ececec;
        border-radius: 8px;
        border-right: 1px solid #ececec;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        min-height: 100px;
        position: relative;
        text-align: center;
        z-index: 1;
    }
    .featured-box .box-content {
        border-radius: 8px;
        border-top: 1px solid #ccc;
        border-top-width: 4px;
        padding: 30px 30px 10px 30px;
        position: relative;
        top: -1px;
    }
    .featured-box-text-left {
        text-align: left;
    }
    /*! CSS Used from: https://ufmtonline.ufmt.br/home/css/default.css */
    a {
        color: #0088cc;
    }
    a:hover {
        color: #0099e6;
    }
    a:focus {
        color: #0099e6;
    }
    a:active {
        color: #0077b3;
    }
    .btn {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: none;
    }
    @media print {
        a[href]::after {
            content: none !important;
        }
    }
    .btn-borders {
        border-width: 3px;
    }
    .btn-borders.btn-success {
        background: transparent;
        border-color: #47a447;
        color: #47a447;
        text-shadow: none;
    }
    .btn-borders.btn-success:hover,
    .btn-borders.btn-success:focus {
        background-color: #51b451;
        border-color: #47a447 !important;
        color: #fff;
    }
    .btn-borders {
        padding: 4px 12px;
    }
    .btn-borders.btn-lg {
        padding: 8px 16px;
    }

    strong {
        font-weight: bolder;
    }
    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }
    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    @media screen and (prefers-reduced-motion: reduce) {
        .btn {
            transition: none;
        }
    }
    .btn:focus,
    .btn:hover {
        text-decoration: none;
    }
    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .btn:disabled {
        opacity: 0.65;
    }
    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .btn-success:hover {
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34;
    }
    .btn-success:focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }
    .btn-success:disabled {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
    .btn-block {
        display: block;
        width: 100%;
    }
    html .toggle-primary .toggle label {
        color: #0088cc;
        border-left-color: #0088cc;
        border-right-color: #0088cc;
    }
    .list.list-icons li > .fa:first-child {
        color: #0088cc;
        border-color: #0088cc;
    }
    .featured-box-primary .box-content {
        border-top-color: #0088cc;
    }
    html .featured-box-primary .box-content {
        border-top-color: #0088cc;
    }
    /*! CSS Used from: https://ufmtonline.ufmt.br/home/css/custom.css */
    a {
        color: #4582bf;
    }
    a:hover {
        color: #588fc6;
    }
    a:focus {
        color: #588fc6;
    }
    a:active {
        color: #3c75ae;
    }
    html .toggle-primary .toggle label {
        color: #4582bf;
        border-left-color: #4582bf;
        border-right-color: #4582bf;
    }
    .list.list-icons li > .fa:first-child {
        color: #4582bf;
        border-color: #4582bf;
    }
    .featured-box-primary .box-content {
        border-top-color: #4582bf;
    }
    html .featured-box-primary .box-content {
        border-top-color: #4582bf;
    }
}
