.global-header {
    background: #1e1e1e !important;
}

.global-header .nav-links .main .nav-tab a {
    color: #ffff !important;
}

.global-header .header-logo .course-header {
    color: #ffff !important;
}

.global-header .nav-links .secondary .nav-item a {
    color: #ffff !important;
}

.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item a {
    color: #000 !important;
}

.global-header .nav-links .secondary .nav-item.nav-item-dropdown {
    color: #ffff !important;
}

.global-header .nav-links .secondary a.register-btn {
    background-color: #ffffff00 !important;
}

.global-header .nav-links .secondary a.sign-in-btn:hover,
.global-header .nav-links .secondary .nav-item a.shopping-cart:hover {
    background-color: #ffffff00 !important;
}

.progress {
    height: 6rem !important;
}
