.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.column-flex-container {
    display: flex;
    flex-direction: column;
}

.footer-card {
    width: 300px;
    height: 240px;
}

.footer-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-card-header {
    h4 {
        color: #fff;
        font-size: 1.8em;
        font-weight: 200;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.social-icons {
    display: flex;
    align-items: center;
    justify-items: center;

    li {
        margin-right: 40px;
        a {
            font-size: 20px;
        }
    }
}

.ufmtonline-footer {
    .flex-row {
        flex-wrap: wrap;

        .column-flex-container {
            margin-right: 30px;

            p {
                color: #fff;
            }

            a {
                img {
                    width: 200px;
                }
            }

            ul {
                list-style: none;
                li {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    background: #0e0e0e;
    width: 100%;
    padding-top: 50px;
}

.platform-copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #060606;
    border-top: 4px solid #060606;
    padding: 30px;
    .copyright-text {
        color: #fff;
        margin-right: 50px;
    }
}
