.titleCertificate{
    top: 87px !important;
    left: 295px !important;
    width: 308px !important;
    height: 56px !important;
    text-align: left !important;
    font-family: 'Gentium Book Basic' !important;
    font-size: 48px !important;
    letter-spacing: 0 !important;
    color: #2870B4 !important;
    opacity: 1 !important;
}

.accomplishment-rendering {
    border: 12px solid #2870B4 !important;
    border-image-source: -webkit-linear-gradient(top left, darkblue -25%, lightblue 75%) !important;
    border-image-slice: 20 !important;
}
.signatory_ufmt{
    top: 428px !important;
    left: 355px !important;
    width: 166px !important;
    height: 42px !important;
    text-align: center !important;
    letter-spacing: 0 !important;
    color: #161615 !important;
    
}

.accomplishment-rendering .accomplishment-statement, .accomplishment-rendering .accomplishment-signatories {
    border-bottom: none !important;
}
.logo_ufmtOnline{
    top: 489px !important;
    left: 605px !important;
    width: 174px !important;
    height: 28px !important;
    background: transparent url('Grupo_3.svg') 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
}

.wrapper-organization{
    float: right !important;
    margin-right: 50px !important;
}

.layout-accomplishment .accomplishment-rendering {
    position: relative !important;
    top: 0.5rem !important;;
}
.depth-card, .accomplishment-brief, .accomplishment-rendering {
    box-shadow: none !important;
    padding: 1.25rem 1.25rem !important;
    background: #fff !important;
}
.wrapper-metadata{
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.accomplishment-type{
    margin-top: 50px !important;
}
.accomplishment-metadata{
    margin-top: 50px !important;
}
.deco-fl{
    top: -8px !important;
    left: -37px !important;
    width: 441px !important;
    height: 601px !important;
    background: transparent url('Retangulo_1.png') 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    position: absolute !important;
}


