## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap:

  <footer id="footer">
         <div class="ufmtonline-footer">
        <div class="flex-row">
          <div class="column-flex-container logos">
             <a href="https://setec.ufmt.br">
                      <img src="${static.url("images/setec-logo-w.svg")}"/>
                  </a>
  
                  <a href="https://ufmt.br">
                      <img src="${static.url("images/logo-ufmt-branca-horizontal.svg")}" />
                  </a>
          </div>
          <div class="column-flex-container">
            <div class="footer-card">
              <div class="footer-card-header">
                <h4>Sobre o UFMT Online</h4>
              </div>
              <div class="footer-card-body">
                  <ul class="contact">
                          <li><p><i class="fa fa-book"></i> <a href="https://setec.ufmt.br/polos" target="_blank">O UFMT Online</a></p></li>
                          <li><p><i class="fa fa-book"></i> <a href="https://setec.ufmt.br/auab" target="_blank">A SETEC</a></p></li>
                          <li><p><i class="fa fa-book"></i> <a href="https://setec.ufmt.br/fale-conosco" target="_blank">Fale conosco</a></p></li>
                      </ul>
              </div>
            </div>
          </div>
           <div class="column-flex-container">
            <div class="footer-card">
              <div class="footer-card-header">
                <h4>Localização</h4>
              </div>
              <div class="footer-card-body">
                  <ul class="contact">
                          <li><p><i class="fa fa-map-marker"></i> <strong>Endereço:</strong> Av. Fernando Corrêa da Costa - Cidade Universitária - CEP 78060-900 - UFMT</p></li>
                          <li><p><i class="fa fa-phone"></i> <strong>Secretaria:</strong> +55 (65) 3615-6242</p></li>
                          <li><p><i class="fa fa-phone"></i> <strong>Coordenação:</strong> +55 (65) 3615-6243</p></li>
                          <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:setec@ufmt.br">setec@ufmt.br</a></p></li>
                      </ul>
              </div>
            </div>
          </div>
           <div class="column-flex-container">
            <div class="footer-card">
              <div class="footer-card-header">
                <h4>Redes Sociais</h4>
              </div>
              <div class="footer-card-body">
                  <ul class="social-icons">
                      <li class="social-icons-facebook"><a href="http://www.facebook.com/ufmtonline" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-icons-twitter"><a href="http://www.twitter.com/ufmtonline" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-icons-instagram"><a href="http://www.instagram.com/ufmtonline" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
            </div>
          </div>
      </div>
  </footer>
 
% else:


 ## xss-lint: disable=mako-invalid-js-filter
 
  <footer id="footer">
         <div class="ufmtonline-footer">
        <div class="flex-row">
          <div class="column-flex-container logos">
             <a href="https://setec.ufmt.br">
                      <img src="${static.url("images/setec-logo-w.svg")}"/>
                  </a>
  
                  <a href="https://ufmt.br">
                      <img src="${static.url("images/logo-ufmt-branca-horizontal.svg")}" />
                  </a>
          </div>
          <div class="column-flex-container">
            <div class="footer-card">
              <div class="footer-card-header">
                <h4>Sobre o UFMT Online</h4>
              </div>
              <div class="footer-card-body">
                  <ul class="contact">
                          <li><p><i class="fa fa-book"></i> <a href="https://setec.ufmt.br/polos" target="_blank">O UFMT Online</a></p></li>
                          <li><p><i class="fa fa-book"></i> <a href="https://setec.ufmt.br/auab" target="_blank">A SETEC</a></p></li>
                          <li><p><i class="fa fa-book"></i> <a href="https://setec.ufmt.br/fale-conosco" target="_blank">Fale conosco</a></p></li>
                      </ul>
              </div>
            </div>
          </div>
           <div class="column-flex-container">
            <div class="footer-card">
              <div class="footer-card-header">
                <h4>Localização</h4>
              </div>
              <div class="footer-card-body">
                  <ul class="contact">
                          <li><p><i class="fa fa-map-marker"></i> <strong>Endereço:</strong> Av. Fernando Corrêa da Costa - Cidade Universitária - CEP 78060-900 - UFMT</p></li>
                          <li><p><i class="fa fa-phone"></i> <strong>Secretaria:</strong> +55 (65) 3615-6242</p></li>
                          <li><p><i class="fa fa-phone"></i> <strong>Coordenação:</strong> +55 (65) 3615-6243</p></li>
                          <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:setec@ufmt.br">setec@ufmt.br</a></p></li>
                      </ul>
              </div>
            </div>
          </div>
           <div class="column-flex-container">
            <div class="footer-card">
              <div class="footer-card-header">
                <h4>Redes Sociais</h4>
              </div>
              <div class="footer-card-body">
                  <ul class="social-icons">
                      <li class="social-icons-facebook"><a href="http://www.facebook.com/ufmtonline" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-icons-twitter"><a href="http://www.twitter.com/ufmtonline" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-icons-instagram"><a href="http://www.instagram.com/ufmtonline" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
            </div>
          </div>
      </div>
  </footer>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
