<<<<<<< HEAD:lms/static/sass/partials/lms/theme/UFMTOnLine.certificate.scss
.titleCertificate{
    top: 87px !important;
    left: 295px !important;
    width: 308px !important;
    height: 56px !important;
    text-align: left !important;
    font-family: 'Gentium Book Basic' !important;
    font-size: 48px !important;
    letter-spacing: 0 !important;
    color: #2870B4 !important;
    opacity: 1 !important;
=======
.titleCertificate {
    top: 87px;
    left: 295px;
    width: 308px;
    height: 56px;
    text-align: left;
    font-family: "Gentium Book Basic";
    font-size: 48px;
    letter-spacing: 0;
    color: #2870b4;
    opacity: 1;
>>>>>>> ea3d9e0a3d7256df839ad5e28a73d4731297b6fd:lms/static/css/ufmt-certificate.css
}

.accomplishment-rendering {
    border: 12px solid #2870b4 !important;
    border-image-source: -webkit-linear-gradient(
        top left,
        darkblue -25%,
        lightblue 75%
    ) !important;
    border-image-slice: 20 !important;
}
<<<<<<< HEAD:lms/static/sass/partials/lms/theme/UFMTOnLine.certificate.scss
.signatory_ufmt{
    top: 428px !important;
    left: 355px !important;
    width: 166px !important;
    height: 42px !important;
    text-align: center !important;
    letter-spacing: 0 !important;
    color: #161615 !important;
    
=======
.signatory_ufmt {
    top: 428px;
    left: 355px;
    width: 166px;
    height: 42px;
    text-align: center;
    letter-spacing: 0;
    color: #161615;
>>>>>>> ea3d9e0a3d7256df839ad5e28a73d4731297b6fd:lms/static/css/ufmt-certificate.css
}

.accomplishment-rendering .accomplishment-statement,
.accomplishment-rendering .accomplishment-signatories {
    border-bottom: none !important;
}
<<<<<<< HEAD:lms/static/sass/partials/lms/theme/UFMTOnLine.certificate.scss
.logo_ufmtOnline{
    top: 489px !important;
    left: 605px !important;
    width: 174px !important;
    height: 28px !important;
    background: transparent url('Grupo_3.svg') 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
=======
.logo_ufmtOnline {
    top: 489px;
    left: 605px;
    width: 174px;
    height: 28px;
    background: transparent url("Grupo_3.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
>>>>>>> ea3d9e0a3d7256df839ad5e28a73d4731297b6fd:lms/static/css/ufmt-certificate.css
}

.wrapper-organization {
    float: right !important;
    margin-right: 50px !important;
}

.layout-accomplishment .accomplishment-rendering {
    position: relative !important;
    top: 0.5rem !important;
}
.depth-card,
.accomplishment-brief,
.accomplishment-rendering {
    box-shadow: none !important;
    padding: 1.25rem 1.25rem !important;
    background: #fff !important;
}
.wrapper-metadata {
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.accomplishment-type {
    margin-top: 50px !important;
}
.accomplishment-metadata {
    margin-top: 50px !important;
}
<<<<<<< HEAD:lms/static/sass/partials/lms/theme/UFMTOnLine.certificate.scss
.deco-fl{
    top: -8px !important;
    left: -37px !important;
    width: 441px !important;
    height: 601px !important;
    background: transparent url('Retangulo_1.png') 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    position: absolute !important;
=======
.deco-fl {
    top: -8px;
    left: -37px;
    width: 441px;
    height: 601px;
    background: transparent url("Retangulo_1.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
>>>>>>> ea3d9e0a3d7256df839ad5e28a73d4731297b6fd:lms/static/css/ufmt-certificate.css
}
